
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>


<div style="text-align: center;">
    <br>
    <h2>Welcome to Next Women! </h2>
    <br>
    <h4><i>"Our vision is to create next generation women who are aware of thier rights, are self-sufficient to protect themself and aims to be finalcially independent" </i></h4>
    <br><br>
</div>

<div style="text-align: center;">
    <button type="button" class="btn btn-lg btn-primary" style="width: 50%; margin-bottom: 30px" onclick="location.href='@Url.Action("KnowYourRights")';return false;">
        <h5>Know Your Rights</h5>
    </button>
    <br>

    <button type="button" class="btn btn-lg btn-primary" style="width: 50%; margin-bottom: 30px" onclick="location.href='@Url.Action("SelfDefense")';return false;">
        <h5>Self Defense</h5>
    </button>
    <br>

    <button type="button" class="btn btn-lg btn-primary" style="width: 50%; margin-bottom: 30px" onclick="location.href='@Url.Action("SelfLearning")';return false;">
        <h5>Self Learning</h5>
    </button>
    <br>

    <button type="button" class="btn btn-lg btn-primary" style="width: 50%; margin-bottom: 30px" onclick="location.href='@Url.Action("JobOpportunities")';return false;">
        <h5>Job Opportunities</h5>
    </button>
    <br>

    <button type="button" class="btn btn-lg btn-primary" style="width: 50%; margin-bottom: 30px" onclick="location.href='@Url.Action("SuccessStories")';return false;">
        <h5>Success Stories</h5>
    </button>
    <br>
</div>
